{% extends 'base.html.twig' %}

{% block title %}Tareas
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Tareas</h1><hr/>
		<div class="row">
			{% include('includes/list-task.html.twig') with {'tasks': tasks} %}
		</div>
	</div>
{% endblock %}
