{% extends 'base.html.twig' %}

{% block title %}Registro de usuario{% endblock %}

{% block body %}

<div>
  <h1>Registro de usuario</h1> <hr/>

  {{ form_start(form, {'attr': {'class': 'col-12 col-lg-8 my-4'}}) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
</div>
{% endblock %}
